.button-container {
    display: flex;
    justify-content: center; /* Horizontaal centreren */
    align-items: center; /* Verticaal centreren */
    height: 100vh; /* Volledige hoogte van het scherm */
    gap: 10px;
}

.grote-knop {
    padding: 300px 150px; /* Verhoog de knopgrootte */
    font-size: 24px; /* Verhoog de tekstgrootte */
    border: none; /* Geen rand */
    border-radius: 30px; /* Ronde hoeken */
    cursor: pointer; /* Verandert de cursor naar hand bij hover */
    transition: background-color 0.3s; /* Zachte overgang bij hover */
}


